body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.controls {
    margin: 10px;
}

.overlay {
    /* Max-width make sure the HUD is 100% of the canvas width. */
    max-width: 100%;
    position: absolute;
    z-index: 100;
}

#no-webgl {
    display: none;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
